<p class="text-center">Let's start!</p>
<p class="text-center">Set your password and make sure you'll remember it.</p>
<form class="row no-gutters" [formGroup]="pwdForm">
  <label class="col-12" for="pwd">{{ifPwdNotEmpty('Password')}}&nbsp;</label>
  <div class="col-12 form-group input-group">
    <input class="form-control" id="pwd" [attr.type]="getPwdAttr()" formControlName="password" placeholder="Decryption password">
    <div class="input-group-append">
      <button  type="button" class="btn btn-outline-secondary" (click)="toggleShow()">{{getToggleText()}}</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary col-12 col-md-6 offset-md-3" (click)="setDecryptionPwd()" [attr.disabled]="canContinue() ? null : 'disabled'">Create new password</button>
</form>
