// input, div, p {
//     text-align: center;
// }
// input {
//     margin-top: 0;
// }
// label {
//     width: 100%;
//     display: inline-block;
//     margin-bottom: 0;
// }
// img {
//     width: 50%;
// }
// .pwd {
//     width: 95%;
//     margin-left: 1em;
//     margin-right: 1em;
//     border-bottom: 1px solid hsl(0, 0%, 20%);
//     display: block;
//     span {
//         display: inline-block;
//         width: 10%;
//         margin: 0;
//     }
//     input {
//         margin: 0;
//         width: 70%;
//         border: 0;
//         display: inline-block;
//     }
//     button {
//         display: inline-block;
//         width: 10%;
//         text-align: left;
//         margin: 0;
//     }
// }