<div class="container-fluid appear">
    <div class="row">
        <div *ngIf="addingNote" class="fixed-top blur w-100 h-100 appear" (click)="setAddingNote(false, $event)"></div>
        <app-add-note class="col-10 offset-1 col-md-8 offset-md-2 py-4 my-4" (click)="setAddingNote(true, $event)"></app-add-note>
        <div #columns class="col-12 no-gutters columns">
            <ng-container *ngFor="let note of (notes | async); let i = index" >
                <app-note class="column" [note]="note" (click)="openDetail(note)"></app-note>
            </ng-container>
        </div>
    </div>
</div>
<ng-container *ngIf="noteDetail">
    <div class="fixed-top blur w-100 h-100 appear" (click)="closeDetail()">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center w-100">
                <div class="w-100">
                    <div class="py-3 pl-3 gray rounded appear" (click)="stopPropagation($event)">
                        <app-note-detail class="mx-auto" [note]="noteDetail"></app-note-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>