app-add-note {
    box-shadow: 0px 2px 5px 2px black;
    background-color: hsl(0, 0%, 15%);
    border-radius: 0.5em;
    z-index: 2;
}
.blur {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


