<div class="container d-flex h-100 appear">
  <div class="row justify-content-center align-self-center">

    <div class="col-12 mb-5 alert alert-danger" role="alert">
      <h2 class="alert-heading">WIP notice</h2>
      <p>Please note that this is a work in progress and is subject to change. Changes can potentially render your data
        inaccessible.</p>
    </div>
    <app-new-user class="col-12" *ngIf="isNewUser | async" (passwordSet)="setDecryptionPwd($event)"></app-new-user>
    <app-decrypt class="col-12" *ngIf="!(isNewUser | async)" (passwordSet)="setDecryptionPwd($event)"></app-decrypt>
  </div>
</div>
