// div {
//     text-align: center;
// }
// .notice {
//     margin: 1em;
//     background-color: #710000;
//     border-radius: 0.5em;
//     border-color: transparent;
//     border-width: 1px;
//     border-style: solid;
//     box-shadow: 0px 2px 5px 2px black;border: 1px solid
//     transparent;
//     padding: 1em;
// }
// .new-user {
//     margin: 1em;
// }
// input {
//     text-align: center;
// }
// img {
//     width: 50%;
// }
.alert.alert-danger {
    background-color: #710000;
    box-shadow: 0px 2px 5px 2px black;
    border-color: transparent;
    text-align: center;
    .alert-heading {
        text-align: center;
        color: rgb(190, 190, 190);
    }
}
