<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center mx-auto appear">
    <div class="col-12">
      <p class="text-center mb-0">Welcome to</p>
      <h1 class="text-center">CryptKeep</h1>
      <p class="text-center mb-0">cryptographicaly secured note manager</p>
      <img class="mx-auto d-block" src="/assets/flow.svg" alt="">
    </div>
    <button type="button" class="btn btn-outline-primary col-12 mt-4" (click)="toDecrypt()">Let's start!</button>
  </div>
</div>