<!-- <p>note-item works!</p> -->
<!-- <p>note-item works!</p> -->
<div *ngIf="isList" class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" [id]="getRandomId('isList')" [checked]="noteContent.isChecked">
    <label class="custom-control-label" [attr.for]="getRandomId('isList')"></label>
</div>
{{ noteContent.content }}