@import 'https://fonts.googleapis.com/css?family=Montserrat&display=swap';

h1, h2, h3, h4, h5, h6, div, span, p, *, body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(190, 190, 190);
}
body {
    background-color: hsl(0, 0%, 10%);
}
.btn.btn-outline-primary,
.btn.btn-outline-primary:focus:disabled,
.btn.btn-outline-primary:hover:disabled,
.btn.btn-outline-primary:active:disabled {
    color: #ff0;
    border-color: #ff0;
    box-shadow: none;
    background-color: transparent;
}
.btn.btn-outline-primary:hover {
    color: #ff0;
    background-color: transparent;
    border-color: #ff0;
    box-shadow: 0 0 0.2rem 0.05rem #ff0;
}
.btn.btn-outline-primary:focus {
    color: #ff0;
    background-color: transparent;
    border-color: #ff0;
    text-shadow: 0 0 0.2rem #ff0;
    box-shadow: 0 0 0.4rem 0.1rem #ff0;
}
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #ff0;
    background-color: transparent;
    border-color: #ff0;
    text-shadow: 0 0 0.2rem #ff0;
    box-shadow: 0 0 0.4rem 0.1rem #ff0;
}
.form-control {
    background-color: hsl(0, 0%, 15%);
    color: rgb(190, 190, 190);
    border-color: #550;
}
.form-control:focus {
    background-color: hsl(0, 0%, 15%);
    color: rgb(190, 190, 190);
    border-color: #550;
    box-shadow: 0 0 .1rem .2rem #550;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::after,
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:active ~ .custom-control-label::after {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    background-size: 75%;
    background-color: transparent;
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("/assets/check_box-white-18dp.svg");
}
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::after {
    background-image: url("/assets/check_box_outline_blank-white-18dp.svg");
}
.list-switch.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::after {
    background-image: url("/assets/list-white-18dp.svg");
}
.list-switch.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("/assets/notes-white-18dp.svg");
}
.input-group-text {
    background-color: transparent;
    border: none;
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
    .custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::before,
    .custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::after,
    .custom-checkbox .custom-control-input:active ~ .custom-control-label::before,
    .custom-checkbox .custom-control-input:active ~ .custom-control-label::after {
        top: -0.25rem;
    }
}
.list-group-item {
    background-color: transparent;
}
app-crypto-password,
app-landing {
    height: 100vh;
    display: block;
}
.gray {
    background-color: hsl(0, 0%, 15%);
    box-shadow: 0px 2px 5px 2px black;
}

.appear {
    animation: appear-anim 0.2s ease-in forwards;
}
@keyframes appear-anim {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 540px) {
    .column {
        width: 50%;
    }
}
@media only screen and (min-width: 720px) {
    .column {
        width: 25%;
    }
}
@media only screen and (min-width: 960px) {
    .column {
        width: calc(100% / 6);
    }
}
