<form class="form-group row m-0" [formGroup]="noteForm">
    <div class="col-12 input-group">
        <input class="form-control rounded" #form type="text" formControlName="noteName" [placeholder]="titlePlaceHolder" (focusin)="setActive()">
        <div class="input-group-append">
            <div class="input-group-text">
                <div class="list-switch custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" formControlName="isList" [id]="getRandomId('isList')">
                    <label class="custom-control-label" [attr.for]="getRandomId('isList')"></label>
                </div>
            </div>
        </div>
    </div>
    <ul class="form-group col-12" *ngIf="active && noteForm.controls.isList.value" formArrayName="noteContents">
        <ng-container *ngFor="let noteContents of noteContentsControls; let i = index">
            <li class="input-group mt-3" [formGroup]="noteContents">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <div class="custom-control custom-checkbox col-1">
                            <input class="custom-control-input" type="checkbox" formControlName="isChecked" [id]="getRandomId('isChecked', i )">
                            <label class="custom-control-label" [attr.for]="getRandomId('isChecked', i )">
                            </label>
                        </div>
                    </div>
                </div>
                <input class="form-control rounded" type="text" formControlName="noteContent" placeholder="List item ...">
                <div class="input-group-append" *ngIf="{'hidden': i === noteContentsControls.length-1}" >
                    <div class="input-group-text">
                        <button class="col-1 close" (click)="remove(i)" aria-label="Remove item">
                            <span>&times;</span>
                        </button>
                    </div>
                </div></li>
        </ng-container>
    </ul>
    <div class="col-12 mt-3" *ngIf="showNoteText">
        <textarea class="form-control" formControlName="noteText" placeholder="Take note ..."></textarea>
    </div>
    <div class="col-12 mt-3 row" *ngIf="active">
        <button class="btn btn-outline-primary col-1" (click)="closeNote()">
            <img src="/assets/save-white-18dp.svg" alt="save">
        </button>
        <button class="btn btn-outline-secondary col-1 offset-10" (click)="deleteNote()">
            <img src="/assets/delete-white-18dp.svg" alt="delete">
        </button>
    </div>
</form>