<form [formGroup]="pwdForm" (ngSubmit)="setDecryptionPwd()">
  <div class="row mb-4 form">
    <label class="col-12 col-md-8 offset-md-2 text-center" for="pwd">{{ifPwdNotEmpty('Decription password')}}&nbsp;</label>
    <input class="col-12 col-md-8 offset-md-2 form-control text-center" id="pwd" type="password" formControlName="password" placeholder="Decription password">
  </div>
  <div class="row">
    <button class="col-12 col-md-8 offset-md-2 btn btn-outline-primary" type="submit" [attr.disabled]="canContinue() ? null : 'disabled'">Decrypt notes</button>
  </div>
</form>
