<div class="cont">
  <h1 class="text-center h3 p-1">{{note.name}}</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let noteContent of noteContents">
      <app-note-item [noteContent]="noteContent" [isList]="note.isList"></app-note-item>
    </li>
  </ul>
  <div *ngIf="isMaxContent" class="gradient position-relative"></div>
</div>
