.cont {
    box-shadow: 0px 2px 5px 2px black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    background-color: hsl(0, 0%, 15%);
    border-radius: 0.5em;
    max-height: 15rem;
    height: 15rem;
    min-height: 15rem;
    overflow: hidden;
    height: 100%;
}
.gradient {
    box-shadow: 0 1rem 2rem 2rem black;
    bottom: 0;
    z-index: 1;
}
